@import "./variables";
@import "./mixins";
@import "./animations";

body {
    width: 100%;
    min-height: 100vh;
    background: $background-accent;
    color: $font-black-secondary;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

/* Reset and base styles  */
* {
    font-family: var(--font-geist-sans), sans-serif;
    margin: 0px;
    padding: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    background: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

:root {
    --color-red: #{$color-red};
    --color-orange: #{$color-orange};
    --color-yellow: #{$color-yellow};
    --color-green: #{$color-green};

    --staggered-delay: 0.15s;
    --staggered-opacity-duration: 0.9s;
    --staggered-translate-y: 30px;
    --staggered-translate-y-duration: 0.7s;
}
