@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.plate {
    position: relative;
    overflow: visible;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    align-items: center;

    .balanceAmount {
        grid-row: 1;
        font-size: 36px;
        font-weight: 600;
        color: #fff;
        align-self: end;
    }

    .currencyDollar {
        grid-row: 2;
        font-size: 12px;
        font-weight: 600;
        color: $color-green;
        align-self: start;
    }

    img {
        position: absolute;
        right: 8px;
        bottom: 8px;
        pointer-events: none;
    }
}
