@import "@/app/styles/animations";
@import "@/app/styles/mixins";
@import "@/app/styles/variables";

.button {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 4px;
    place-content: center;
    place-items: center;
    padding: 8px 16px;
    height: 36px;
    width: 100%;
    border: none;
    border-radius: 64px;
    color: $color-white;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    @include interactive-behavior(0.96, 1.2, 0.3s);

    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
}

.button--primary {
    background: $color-accent;
}

.button--switch {
    border: 2px solid $color-gray2;
    color: $color-gray2;
}

.active {
    border-color: $color-accent;
    color: $color-accent;
    // filter: drop-shadow(0 0 8px $color-accent);
}
