@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.handWars {
    display: grid;
    gap: 8px;
    padding: 0 16px;

    .title {
        justify-self: center;
        padding: 8px;
    }

    .bankPlate {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        padding: 8px;
        margin-bottom: 16px;

        .bankIcon {
            position: absolute;
        }

        .bankAmount {
            justify-self: center;
            grid-column: 2;
            font-size: 20px;
            font-weight: 600;
        }

        .bankInfo {
            justify-self: end;
            grid-column: 3;
        }
    }

    .handPlate {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto;
        justify-content: space-around;

        .handIcon {
            width: 64px;
            color: rgba($color-accent, 0.2);
        }
    }

    .opponentInfo {
        display: grid;
        grid-auto-rows: auto;
        justify-items: center;

        .nickname {
            font-size: 16px;
            color: $color-red;
            font-weight: 600;
        }

        .username {
            font-size: 12px;
            color: $color-accent;
        }
    }

    .userInfo {
        display: grid;
        grid-auto-flow: rows;
        grid-auto-rows: auto;
        justify-items: center;

        .nickname {
            font-size: 16px;
            color: $color-blue;
            font-weight: 600;
        }

        .username {
            font-size: 12px;
            color: $color-accent;
        }
    }

    .Timerplate {
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(2, max-content);
        align-items: center;
        justify-self: center;
        width: min-content;
        padding: 0px 8;
        border-radius: 20px;
        background: linear-gradient(rgba(183, 202, 244, 0.6), rgba(188, 123, 227, 0.2));

        .timer {
            font-size: 20px;
            color: #fff;
            font-weight: 600;
            padding-right: 24px;
        }
    }

    .matchInfo {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        justify-self: center;
        gap: 8px;
        padding: 16px 0;

        .infoText {
            font-size: 12px;
            color: $color-accent;
            text-align: center;
        }
    }
}

// gand choice

.plate {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    justify-content: space-around;
}

.button {
    border: none;
    background: transparent;
    cursor: pointer;

    .icon {
        width: 64px;
        color: rgba($color-accent, 0.2);
        @include interactive-behavior(0.96, 1.02, 0.3s);
    }

    &.active {
        filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.15));
    }
}

.action {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-self: center;
    gap: 8px;
}

.chooseButton:disabled {
    cursor: not-allowed;
    @include interactive-behavior(1, 1, 0s);
    background-color: rgba($color-accent, 0.5);
}
