@import "@/app/styles/animations";
@import "@/app/styles/mixins";
@import "@/app/styles/variables";

.transaction-record {
    width: 100%;
    height: 64px;
    padding: 8px;
    display: grid;
    grid-template-columns: max-content max-content max-content auto;
    grid-template-rows: repeat(2, max-content);
    align-content: center;
    row-gap: 4px;
    column-gap: 16px;
    border-bottom: 2px solid $color-gray4;

    &__image {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    &__id {
        grid-column: 2 / span 2;
        grid-row: 1;
        color: $color-blue;
    }

    &__time {
        grid-column: 2;
        grid-row: 2;
        color: $color-gray2;
        font-size: 12px;
    }

    &__date {
        grid-column: 3;
        grid-row: 2;
        color: $color-gray2;
        font-size: 12px;
    }

    &__amount {
        grid-column: 4;
        grid-row: 1;
        justify-self: end;
        grid-template-columns: repeat(2, max-content);
        color: $color-accent;

        display: grid;
        gap: 4px;

        .transaction-record__currency {
        }
    }

    &__amount-dollar {
        grid-column: 4;
        grid-row: 2;
        justify-self: end;
        font-size: 12px;
    }

    .transaction-record__amount--negative {
        color: $color-red;
    }

    .transaction-record__amount--positive {
        color: $color-green;
    }
}
