@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.navbar {
    position: fixed;
    display: grid;
    bottom: 0;
    width: 100%;
    max-width: 432px;
    height: calc(64px + 32px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0 1fr;
    justify-items: center;
    justify-self: center;
    align-items: end;
    z-index: 999;
    background: $color-black;

    .indicator {
        content: '';
        position: absolute;
        background: $color-black;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
    }

    // Первый индикатор (для первой ссылки)
    .indicator--first {
        top: -59.5px;
        left: -0.5px;
        width: 115px;
        height: 60px;
        clip-path: path(
            'M 16 0 C 16 21 33 39 55 39 H 66 C 75 39 84 42 90 49 C 97 56 106 60 115 60 H 0 V 0 Z'
        );
    }

    // Второй индикатор (для второй и третьей ссылки)
    .indicator--middle {
        top: -20.5px;
        width: 140px;
        height: 64px;
        clip-path: path(
            'M 0 21 C 12 21 20 17 27 10 C 33 3 42 0 51 0 H 88 C 97 0 106 3 112 10 C 119 17 128 21 140 21 Z'
        );
    }

    // Третий индикатор (для четвертой ссылки)
    .indicator--last {
        top: -59.5px;
        right: 0;
        width: 115px;
        height: 60px;
        clip-path: path(
            'M 99 0 C 99 21 82 39 60 39 H 49 C 40 39 31 42 25 49 C 18 56 9 60 0 60 H 115 V 0 Z'
        );
    }

    // M 100 0 C 100 21.539 82.539 39 61 39 H 49.902 C 40.593 39 31.686 42.791 25.233 49.5 V 49.5 C 18.78 56.209 9.872 60 0.564 60 H 100 Z

    .link {
        display: grid;
        grid-row: 2;
        place-items: center;
        height: 100%;
        width: 100%;
        padding-bottom: 32px;
        position: relative;
        text-decoration: none;

        // неоновая подсветка
        // &:hover,
        // &:active {
        //     filter: opacity(0.5) drop-shadow(0 0 15px $color-accent)
        //         drop-shadow(0 0 30px $color-accent);
        // }

        .icon {
            height: 32px;
            width: 32px;
            fill: white;
            position: relative;
            z-index: 2;
            transition: all 0.3s ease;
        }

        .icon--active {
            fill: $color-accent !important;
        }

        // Показываем индикатор только для активной ссылки
        &.active {
            .indicator {
                display: block;
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease-in-out;
                transform: translateY(0px);
            }
        }
    }
}
