@import "@/app/styles/animations";
@import "@/app/styles/mixins";
@import "@/app/styles/variables";

.referral-link__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr max-content;
    gap: 8px;

    .referral-link {
        height: 36px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 36px;
        gap: 4px;
        border: 2px solid $color-blue;
        border-radius: 16px;
        @include interactive-behavior(0.98, 1.2, 0.3s);

        &__input {
            width: 100%;
            padding: 4px 16px;
            color: $color-blue;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__copy {
            display: grid;
            place-self: center;
        }
    }

    .info-button--blue {
        background-color: $color-blue;
    }
}
