@import "@/app/styles/animations";
@import "@/app/styles/mixins";
@import "@/app/styles/variables";

.plate {
    position: relative;
    border-radius: 32px;
    width: 100%;
    padding: 16px;
    box-shadow: 0 11px 34px 0 rgba(120, 120, 128, 0.16);
    background-clip: blur(16px);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 70%),
        rgba(255, 255, 255, 10%)
    );

    &--normal {
        border-radius: 32px;
    }

    &--full {
        border-radius: 999px;
    }

    // border
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 2px; /* Толщина границы */
        border-radius: inherit;
        background: linear-gradient(
            175deg,
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0) 70%
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }
}
